<html>
    <head>
        <title> HELLO MUNDO! EPPR &copy; 2020</title>
    </head>
    <style>
        /* CSS */
    </style>
    <body>
        <h1>
            TÍTULO 1
        </h1>
        <p>
            PÁRRAFO
        </p>
        <img src="/head-banner.png" />
        <p>
            <a href="https://eppr.github.io">LINK</a>
        </p>
    </body>
    <script>
        // JAVASCRIPT
    </script>
</html>